* {
	padding: 0;
	margin: 0;
	appearance: none;
}

@font-face {
	font-family: "latoblack";
	src: url("../src/assets/fonts/lato-black-webfont.woff") format("woff2"),
		url("../src/assets/fonts/lato-black-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "latobold";
	src: url("../src/assets/fonts/lato-bold-webfont.woff2") format("woff2"),
		url("../src/assets/fonts/lato-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "latolight";
	src: url("../src/assets/fonts/lato-light-webfont.woff2") format("woff2"),
		url("../src/assets/fonts/lato-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "latolight_italic";
	src: url("../src/assets/fonts/lato-lightitalic-webfont.woff2")
			format("woff2"),
		url("../src/assets/fonts/lato-lightitalic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "latoregular";
	src: url("../src/assets/fonts/lato-regular-webfont.woff2") format("woff2"),
		url("../src/assets/fonts/lato-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "latohairline";
	src: url("../src/assets/fonts/lato-thin-webfont.woff2") format("woff2"),
		url("../src/assets/fonts/lato-thin-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: latoregular;
}
